// custom variables

$white: #fff;
$black: #1F1F1F;
$blue: #0B6EAF;
$darkblue: #095486; 
$gray: #333;
$lightgray: #666;
$orange: #f87d00;
$green: #1e4f01;
$red: #095486;
$grey: #313e53;

$bordercolor: #ccc;

$left: left;
$center: center;
$right: right;

$fontXS: 11px;
$fontSmall: 12px;
$fontMiddle: 13px;
$fontMedium: 14px;
$fontLarge: 16px;
$fontExtraLarge: 18px;

$thin: 100;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;

/* variable for font-family */

$default-font-family: 'Montserrat', sans-serif;
