{% extends "base.html" %}

{% block body%}

<div class="container text-center" id="subscription">
  <h3 class="body_header">Subscription Details</h3>
  
  {% if error %}
  <div id="subscription-error" class="alert alert-danger alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{error}}
  </div>
  {% endif %}

  {% if success %}
  <div id="subscription-success" class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{success}}
  </div>
  {% endif %}

  <div class="row">
    {% for type in plan_type %}
    <div class="col-sm-6">
      <div class="subscription_header"  {% if type.name == 'NEET' %} style="background-color:#004d9f;" {% endif %}>
        {{type.display_name}}
      </div><!-- end of sub_header-->
      <form class="payment" method="post" action="pay/">
        {% csrf_token %}
        {% for plan in type.plans %}
        <div class="well form_well">
          <div class="form-group flex-container">

            <div class="subscribe_div">
              <label class="radio-inline">
                <!-- <input type="hidden" name="plan_id" value="{{plan.id}}"> -->
                <input type="radio" value="{{plan.price}}_{{plan.id}}" name="amount">{% if plan.name == 'Anually' %} 12 {% else %} 1 {% endif %} Month
              </label>
            </div>
            <div class="subscribe_div">
              <label class="control-label" for="every month"><span>&#8377;</span> {{plan.price}}<p class="perSub"><i>per {% if plan.name == 'Anually' %} Year {% else %} Month {% endif %}</i>
                <p>
              </label>
            </div>


          </div>
        </div><!-- end of well div-->
        {% endfor %}
        
        <button type="submit" class="btn btn-success subscribe_btn" >Subscribe Here</button>

      </form>

    </div><!-- end of col-sm-6-->
    {% endfor %}
    
  </div>
  <!--end of row-->

</div><!-- end of container div-->

<script type="text/javascript">
  function showPayment() {
    document.getElementById('subscription').style.display = "none";

  }
</script>


</body>

</html>

{% endblock %}