{% extends "base.html" %}

{% block body%}

<div class="Syllabus">
<div class="container">
<h3 class="body_header">Syllabus</h3>

<div class="row">
<div class="col-sm-6 text-center">
<p class="body_headerText">11<sup>th</sup> Syllabus</p>
</div><!-- end of col-sm-6-->
<div class="col-sm-6 text-center">
<p class="body_headerText">12<sup>th</sup> Syllabus</p>
</div><!-- end of col-sm-6-->
</div><!-- end of row-->
<div class="row">
<div class="col-sm-12">
<div class="subject physics">
<h4>PHYSICS</H4>
</div><!-- end of subject-->
</div><!-- end of col-sm-12-->
</div><!-- end of row-->
<div class="row">
<div class="col-sm-6">
<div class="accordian_div">
<button class="accordion">MECHANICS</button>
<div class="panel">
<div class="flex-container">
<div class="chapter"><i>Chapter 1</i></div>
<div class="chapter chapterName"><strong>Physical World</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BNGZyZ09UTXl1TEk" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 2</i></div>
<div class="chapter chapterName"><strong>Units and Measurements</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BWXR1WXNHaDBFdW8" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 3</i></div>
<div class="chapter chapterName"><strong>Motion in a Straight Line</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BUzJDcFpnRWFMUnM" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 4</i></div>
<div class="chapter chapterName"><strong>Motion in a Plane</strong></div>
<div class="chapter"><a href="#">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 5</i></div>
<div class="chapter chapterName"><strong>Laws of Motion</strong></div>
<div class="chapter"><a href="#">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 6</i></div>
<div class="chapter chapterName"><strong>Work, Energy and Power</strong></div>
<div class="chapter"><a href="#">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 7</i></div>
<div class="chapter chapterName"><strong>System of Particles and Rotational Motion</strong></div>
<div class="chapter"><a href="#">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 8</i></div>
<div class="chapter chapterName"><strong>Gravitation</strong></div>
<div class="chapter"><a href="#">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 9</i></div>
<div class="chapter chapterName"><strong>Mechanical Properties of Solids</strong></div>
<div class="chapter"><a href="#">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 10</i></div>
<div class="chapter chapterName"><strong>Mechanical Properties of Fluids</strong></div>
<div class="chapter"><a href="#">view pdf</a></div>
</div><!-- end of flex-container-->

</div>

<button class="accordion">HEAT AND THERMODYNAMICS</button>
<div class="panel">
 <div class="flex-container">
<div class="chapter"><i>Chapter 11</i></div>
<div class="chapter chapterName"><strong>Thermal Properties of Matter</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BT3U5aldVY0pPU0k" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 12</i></div>
<div class="chapter chapterName"><strong>Thermodynamics</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BalVsTmhKQ1ZlRWc" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 13</i></div>
<div class="chapter chapterName"><strong>Kinetic Theory</strong></div>
<div class="chapter"><a href="#">view pdf</a></div>
</div><!-- end of flex-container-->

</div><!-- end of panel div-->

<button class="accordion">OSCILLATIONS AND WAVES</button>
<div class="panel">
   <div class="flex-container">
<div class="chapter"><i>Chapter 14</i></div>
<div class="chapter chapterName"><strong>Oscillations</strong></div>
<div class="chapter"><a href="#https://drive.google.com/open?id=0B8hXbvn1ab-Ba3hpd28tQjd4SjA" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 15</i></div>
<div class="chapter chapterName"><strong>Waves</strong></div>
<div class="chapter"><a href="#">view pdf</a></div>
</div><!-- end of flex-container-->
</div>
</div><!-- end of accordian_div-->
</div><!-- end of col-sm-6 dov-->

<div class="col-sm-6">

<div class="accordian_div">
<button class="accordion">ELECTRICITY</button>
<div class="panel">
<div class="flex-container">
<div class="chapter"><i>Chapter 1</i></div>
<div class="chapter chapterName"><strong>Electric Charges and Fields</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BTHBWZWltTU5jUXc" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 2</i></div>
<div class="chapter chapterName"><strong>Electrostatic Potential and Capacitance</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BaU9xVW1WZ3FFeXc" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 3</i></div>
<div class="chapter chapterName"><strong>Current Electricity</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BU0lUeHYwZTlmY2c" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->



</div>

<button class="accordion">MAGNETISM</button>
<div class="panel">
 <div class="flex-container">
<div class="chapter"><i>Chapter 4</i></div>
<div class="chapter chapterName"><strong>Moving Charges and Magnetism</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BNzdWZzFuZFZNeDA" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 5</i></div>
<div class="chapter chapterName"><strong>Magnetism and Matter</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-Bai1YMThHQUl2OFU" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 6</i></div>
<div class="chapter chapterName"><strong>Alternating Currentn</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BU1doZnJUeThrTFk" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 7</i></div>
<div class="chapter chapterName"><strong>Electromagnetic Induction</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BaHN6MkJsUjdvWWs" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 8</i></div>
<div class="chapter chapterName"><strong>Electromagnetic Waves</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BYTltWFBnZzVyTEU" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

</div><!-- end of panel div-->

<button class="accordion">OPTICS</button>
<div class="panel">
   <div class="flex-container">
<div class="chapter"><i>Chapter 9</i></div>
<div class="chapter chapterName"><strong>Ray Optics and Optical Instruments</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BQVhLTHdKeVFWWjQ" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 10</i></div>
<div class="chapter chapterName"><strong>Wave Optics</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BT3d4VUMwUDFvWFE" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->
</div>

<button class="accordion">MODERN PHYSICS</button>
<div class="panel">
   <div class="flex-container">
<div class="chapter"><i>Chapter 11</i></div>
<div class="chapter chapterName"><strong>Dual Nature of Radiation and Matter</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BeWZCbnZXdmJteTQ" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 12</i></div>
<div class="chapter chapterName"><strong>Atoms</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BTEZQNGJad21iWlk" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 13</i></div>
<div class="chapter chapterName"><strong>Nuclei</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-Bd1haSnRtZWhFQ3c" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 14</i></div>
<div class="chapter chapterName"><strong>Semiconductor Electronics: Materials, Devises and Simple Circuits</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BRXplRUxCOVl0NHc" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 15</i></div>
<div class="chapter chapterName"><strong>Communication System</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BVWFNME9QQlU3bUk" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->
</div>
</div><!-- end of accordian_div-->
</div><!-- end of col-sm-6 div-->
</div><!-- end of row div-->


<div class="row">
<div class="col-sm-12">
<div class="subject chemistry">
<h4>chemistry</H4>
</div><!-- end of subject-->
</div><!-- end of col-sm-12-->
</div><!--end of row-->

<div class="row">
<div class="col-sm-6">
<div class="accordian_div">
<button class="accordion">GENERAL CHEMISTRY</button>
<div class="panel">
<div class="flex-container">
<div class="chapter"><i>Chapter 1</i></div>
<div class="chapter chapterName"><strong>Some Basic Concepts of Chemistry</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BQ0NHVUpYV2NNNVE" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 2</i></div>
<div class="chapter chapterName"><strong>Structure of Atom</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BTUxtZDBiT3lpLWM" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 3</i></div>
<div class="chapter chapterName"><strong>Classification of Elements and Periodicity in Propertiese</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BdGxWdVdld3F3ZWs" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 4</i></div>
<div class="chapter chapterName"><strong>Chemical Bonding and Molecular Structure</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BWVd4NnV0am5uRUU" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->



</div>

<button class="accordion">PHYSICAL CHEMISTRY</button>
<div class="panel">
 <div class="flex-container">
<div class="chapter"><i>Chapter 5</i></div>
<div class="chapter chapterName"><strong>States of Matter & Solid State</strong></div>
<div class="chapter"><a href="#">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 6</i></div>
<div class="chapter chapterName"><strong>Thermodynamics</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-Bd0hFekxMUWlRZ00" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 7</i></div>
<div class="chapter chapterName"><strong>Equilibrium</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BbnJIVnZNSm11WUk" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 8</i></div>
<div class="chapter chapterName"><strong>Redox Reactions</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BczJZTENSUTMtWVk" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

</div><!-- end of panel div-->

<button class="accordion">INORGANIC CHEMISTRY</button>
<div class="panel">
   <div class="flex-container">
<div class="chapter"><i>Chapter 9</i></div>
<div class="chapter chapterName"><strong>Hydrogen</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-Ba2hWUnZkbkluaW8" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 10</i></div>
<div class="chapter chapterName"><strong>The s – Block Elements</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BZDg3akgwbmc3Zjg" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 11</i></div>
<div class="chapter chapterName"><strong>The P – Block Elements</strong></div>
<div class="chapter"><a href="#">view pdf</a></div>
</div><!-- end of flex-container-->
</div>

<button class="accordion">ORGANIC CHEMISTRY</button>
<div class="panel">
   <div class="flex-container">
<div class="chapter"><i>Chapter 12</i></div>
<div class="chapter chapterName"><strong>Organic Chemistry – Some Basic Principles and Techniques</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BZ1dvODRmTVpZUjA" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 13</i></div>
<div class="chapter chapterName"><strong>Hydrocarbons</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BU0RhM09JMGFFcDA" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 14</i></div>
<div class="chapter chapterName"><strong>Environmental Chemistry</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BTDU2OU1xcl9BemM" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->
</div>
</div><!-- end of accordian_div-->
</div><!-- end of col-sm-6 dov-->


<div class="col-sm-6">
<div class="accordian_div">
<button class="accordion">PHYSICAL CHEMISTRY</button>
<div class="panel">
<div class="flex-container">
<div class="chapter"><i>Chapter 1</i></div>
<div class="chapter chapterName"><strong>Solid State</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BbHk4c2R3azBZSlE" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 2</i></div>
<div class="chapter chapterName"><strong>Solutions</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BTG9xV0RoQjNrOU0" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 3</i></div>
<div class="chapter chapterName"><strong>Electrochemistry</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BMmRQVjJja0hrVFE" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 4</i></div>
<div class="chapter chapterName"><strong>Chemical Kinetics</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-Bc01MbnAwTVdSczQ" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 5</i></div>
<div class="chapter chapterName"><strong>Surface Chemistry</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BR0Y4aWZoTGJJXzQ" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

</div>

<button class="accordion">INORGANIC CHEMISTRY</button>
<div class="panel">
 <div class="flex-container">
<div class="chapter"><i>Chapter 6</i></div>
<div class="chapter chapterName"><strong>General Principles and Processes of Isolation of Elements</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BdzMzaTF1VGM4ZDA" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 7</i></div>
<div class="chapter chapterName"><strong>The p-Block Elements</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BTklybVltMkhfNGc" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 8</i></div>
<div class="chapter chapterName"><strong>The d- and f- Block Elements</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BbXRxZ2VBNUhJVWc" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 9</i></div>
<div class="chapter chapterName"><strong>Coordination Compounds</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BTzF3OXdtUEhWWUE" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

</div><!-- end of panel div-->

<button class="accordion">ORGANIC CHEMISTRY</button>
<div class="panel">
   <div class="flex-container">
<div class="chapter"><i>Chapter 10</i></div>
<div class="chapter chapterName"><strong>Haloalkanes and Haloarenes</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BR1hSNHZmejktak0" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 11</i></div>
<div class="chapter chapterName"><strong>Alcohols, Phenols, and Ethers</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BVWlRNXJ4eGJVWVU" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 12</i></div>
<div class="chapter chapterName"><strong>Aldehydes, Ketones, and Carboxylic Acids</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BR0xZQ3hCM1VlWU0" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->


 <div class="flex-container">
<div class="chapter"><i>Chapter 13</i></div>
<div class="chapter chapterName"><strong>Amines</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BTXJwdzJ1QlliXzA" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->


 <div class="flex-container">
<div class="chapter"><i>Chapter 14</i></div>
<div class="chapter chapterName"><strong>Biomolecules</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BQlJ1S1lOakNCYmc" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->


 <div class="flex-container">
<div class="chapter"><i>Chapter 15</i></div>
<div class="chapter chapterName"><strong>Polymers</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BRjN1VXJmYmNzX00" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->


 <div class="flex-container">
<div class="chapter"><i>Chapter 16</i></div>
<div class="chapter chapterName"><strong>Chemistry in Everyday Life</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BOU9oT0s0ZlRJOEk" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->
</div>


</div><!-- end of accordian_div-->
</div><!-- end of col-sm-6 div-->
</div><!-- end of row div-->

<div class="row">
<div class="col-sm-12">
<div class="subject biology">
<h4>biology</H4>
</div><!-- end of subject-->
</div><!-- end of col-sm-12-->
</div><!-- end of row-->

<div class="row">
<div class="col-sm-6">
<div class="accordian_div">
<button class="accordion">DIVERSITY IN THE LIVING WORLD</button>
<div class="panel">
<div class="flex-container">
<div class="chapter"><i>Chapter 1</i></div>
<div class="chapter chapterName"><strong>The Living World</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=1q0kSdclZmVUiYvzqZUHbKNIYnejmUrlW" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 2</i></div>
<div class="chapter chapterName"><strong>Biological Classification</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=1NGT8Wa6otw9QGln-7VcQccg1qJThkA0w" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 3</i></div>
<div class="chapter chapterName"><strong>Plant Kingdom</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=1w8nctIgyVZh_oI12f6Ni8VV4vZB2FTWz" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 4</i></div>
<div class="chapter chapterName"><strong>Animal Kingdom</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BWVd4NnV0am5uRUU" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->



</div>

<button class="accordion">STRUCTURAL ORGANISATION IN PLANTS AND ANIMALS</button>
<div class="panel">
 <div class="flex-container">
<div class="chapter"><i>Chapter 5</i></div>
<div class="chapter chapterName"><strong>Morphology of Flowering Plants</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=1sRp0Z5X7y8ZQsq1YcKIcJWxuWDQAT7Gd" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 6</i></div>
<div class="chapter chapterName"><strong>Anatomy of Flowering Plants</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=1tWY5dFXnCSD4dNH2c-ifzHhV81ADU3YS" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 7</i></div>
<div class="chapter chapterName"><strong>Structural Organisation in Animals</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=1BTVZjxdLw1yxqehpnKD1poG5U1k5lZOH" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

</div><!-- end of panel div-->

<button class="accordion">STRUCTURE AND FUNCTIONS</button>
<div class="panel">
   <div class="flex-container">
<div class="chapter"><i>Chapter 8</i></div>
<div class="chapter chapterName"><strong>Cell: The Unit of Life</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=18sf3mTBuf9J4_TpXtw35fnaBgKr2Vt31" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 9</i></div>
<div class="chapter chapterName"><strong>Biomolecules</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=1sGByoVr6y9un625qC3rrQB2AJ5WeiLU0" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 10</i></div>
<div class="chapter chapterName"><strong>Cell Cycle and Cell Division</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=1dGIiLnJEXpyNQafgH6WnDmysnlJ6D8qY" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->
</div>

<button class="accordion">PLANT PHYSIOLOGY</button>
<div class="panel">
   <div class="flex-container">
<div class="chapter"><i>Chapter 11</i></div>
<div class="chapter chapterName"><strong>Transport in Plants</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=1_wPeEw4aeupPKUKYybt_sQHMSoJ0Pdif" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 12</i></div>
<div class="chapter chapterName"><strong>Mineral Nutrition</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=1YziW9f1IAsP7XfPQoweNpP4HOyiMPwJJ" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 13</i></div>
<div class="chapter chapterName"><strong>Photosynthesis in Higher Plants</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=1P_WYqxni6X3iV7rnx8-ZOfyNbIYyh8MO" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 14</i></div>
<div class="chapter chapterName"><strong>Respiration in Plants</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=1v8FU5i_IHzu8i105u38asdFy3MtSgo_e" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 15</i></div>
<div class="chapter chapterName"><strong>Plant Growth and Development</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=1wYpXDUmKs_dFOYMLebS5n4tqaN18qHtN" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->
</div>

<button class="accordion">HUMAN PHYSIOLOGY</button>
<div class="panel">
   <div class="flex-container">
<div class="chapter"><i>Chapter 16</i></div>
<div class="chapter chapterName"><strong>Digestion and Absorption</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=14eoc9rAb5TVG27S1nX3wBVuKpLZUeThb" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 17</i></div>
<div class="chapter chapterName"><strong>Breathing and Exchange of Gases</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=18hcGEHAS7OFb94QK9mXKJpK3OB0Ryvzr" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 18</i></div>
<div class="chapter chapterName"><strong>Body Fluids and Circulation</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=1pMA_5GRvRaWLLa7nlyGUYImS6aA_qMwR" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 19</i></div>
<div class="chapter chapterName"><strong>Excretory Products and their Elimination</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=1-aksK6HQCYrLl0bGTm47p66I_D1w7gq4" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 20</i></div>
<div class="chapter chapterName"><strong>Locomotion and Movement</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=1HvFUS2_G63g0wU1du1jKQES5TeLlvFYJ" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 21</i></div>
<div class="chapter chapterName"><strong>Neural Control and Coordination</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=1_4GkdQoaM0X3JU1JbhBc1J6UVCrmnDsB" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 22</i></div>
<div class="chapter chapterName"><strong>Chemical Coordination and Integration</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=1EfrEsh0Yg7dz5vfX1dfNjSVmhywCxcDk" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->
</div>
</div><!-- end of accordian_div-->
</div><!-- end of col-sm-6 dov-->

<div class="col-sm-6">

<div class="accordian_div">
<button class="accordion">REPRODUCTION</button>
<div class="panel">
<div class="flex-container">
<div class="chapter"><i>Chapter 1</i></div>
<div class="chapter chapterName"><strong>Reproduction in Organisms</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BRi1JVGhLcXpaMGM" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 2</i></div>
<div class="chapter chapterName"><strong>Sexual Reproduction in Flowering Plants</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BRi1JVGhLcXpaMGM" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 3</i></div>
<div class="chapter chapterName"><strong>Human Reproduction</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BVkZIYUJHZ1A5WFU" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

<div class="flex-container">
<div class="chapter"><i>Chapter 4</i></div>
<div class="chapter chapterName"><strong>Reproductive Health</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BS1FNeUt4WUF5SFU" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->



</div>

<button class="accordion">GENETICS AND EVOLUTION</button>
<div class="panel">
 <div class="flex-container">
<div class="chapter"><i>Chapter 5</i></div>
<div class="chapter chapterName"><strong>Principle of Inheritance and Variation</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BeTdMQ25pamJIVUk" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 6</i></div>
<div class="chapter chapterName"><strong>Molecular Basis of Inheritance</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BZTY2d0JxOXpoY0E" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 7</i></div>
<div class="chapter chapterName"><strong>Evolution</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BTFgxS2VaT2ljSzQ" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

</div><!-- end of panel div-->

<button class="accordion">BIOLOGY IN HUMAN WELFARE</button>
<div class="panel">
   <div class="flex-container">
<div class="chapter"><i>Chapter 8</i></div>
<div class="chapter chapterName"><strong>Human Health and Diseases</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BNW5KV1JGWG1QM1k" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 9</i></div>
<div class="chapter chapterName"><strong>Strategies for Enhancement in Food Production</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BMXVRVHJ0dlNFVjA" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 10</i></div>
<div class="chapter chapterName"><strong>Microbes in Human Welfare</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-Ba0J6OUk2anBaUDQ" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->
</div>

<button class="accordion">BIOTECHNOLOGY</button>
<div class="panel">
   <div class="flex-container">
<div class="chapter"><i>Chapter 11</i></div>
<div class="chapter chapterName"><strong>Biotechnology: Principles and Processes</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BUE9OUVRzcmxuWkE" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 12</i></div>
<div class="chapter chapterName"><strong>Biotechnology and its Applications</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BVXg2Mm9ILWhnZUU" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 
</div>

<button class="accordion">ECOLOGY</button>
<div class="panel">
   <div class="flex-container">
<div class="chapter"><i>Chapter 13</i></div>
<div class="chapter chapterName"><strong>Organisms and Populations</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BSkk3YWY4Mlprekk" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 14</i></div>
<div class="chapter chapterName"><strong>Ecosystem</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BNW1wWFhIWDVXNVU" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 15</i></div>
<div class="chapter chapterName"><strong>Biodiversity and Conservation</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-Bc1JWeVJ1UVQzc0U" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->

 <div class="flex-container">
<div class="chapter"><i>Chapter 16</i></div>
<div class="chapter chapterName"><strong>Environmental Issues</strong></div>
<div class="chapter"><a href="https://drive.google.com/open?id=0B8hXbvn1ab-BbWozeWt0TnZsOWc" target="_blank">view pdf</a></div>
</div><!-- end of flex-container-->


</div>
</div><!-- end of accordian_div-->
</div><!-- end of col-sm-6 div-->
</div><!-- end of row div-->

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>

</div><!-- end of container-->
</div><!-- end of testimonial-->

{% endblock %}