{% extends "base.html" %}

{% block body %}



</style>
</head>
    

<div class="testimonial">
<div class="container text-center">
<h3 class="body_header">Testimonials</h3>
<p class="body_headerText"> Learn what our students and their parents have to say </p>

<div class="row">
<div class="col-sm-4">
<div class="well"><p class="testimonial_heading">Arpita Bhuyan</p>
<p class="testimonial_subhead">SCB Medical College, Odisha</p>
<hr>
<p class="testimonial_text">Infineety was my best learning companion during my exam preparation. Engaging videos and sample practice papers helped me get better conceptual clarity.</p>
</div><!-- end of well div-->
</div><!-- end of col-sm-4-->

<div class="col-sm-4">
<div class="well"><p class="testimonial_heading">Gayatree Tripathy</p>
<p class="testimonial_subhead">Hi Tech Medical College, Odisha</p>
<hr>
<p class="testimonial_text">Infineety has helped me a lot, as it focuses on improving and strengthening concepts. The practice tests and All India Test Series helped me identify my place in a national level.</p>
</div><!-- end of well div-->
</div><!-- end of col-sm-4-->

<div class="col-sm-4">
<div class="well"><p class="testimonial_heading">Sourabh Patil</p>
<p class="testimonial_subhead">RV Engg College, Bangalore</p>
<hr>
<p class="testimonial_text">I love all the teachers at Infineety'S! Infineety'S test series was the best. I practised different kinds of questions to prepare better.Infineety helped me in visualising concepts.</p>
</div><!-- end of well div-->
</div><!-- end of col-sm-4-->
</div><!-- end of row div-->

<div class="row">
<div class="col-sm-4">
<div class="well">
<p class="testimonial_heading">Sharan Anandi</p><p class="testimonial_subhead">Bharati Bidyapith, Pune</p>
<hr> 
<p class="testimonial_text">My experience at Infineety is great and memorable. The teachers and mentors are really helpful and helped me to improve my academic and interpersonal skills. </p>
</div><!-- end of well div-->
</div><!-- end of col-sm-4-->
<div class="col-sm-4">
<div class="well">
<p class="testimonial_heading">Sai Prateek</p>
<p class="testimonial_subhead">OUAT, Odisha</p>
<hr>
<p class="testimonial_text">My NEET preparation would not have been complete without Infineety. The All India Test Series helped me benchmark my preparation against other aspirants on a national level.</p>
</div><!-- end of well div-->
</div><!-- end of col-sm-4-->
<div class="col-sm-4">
<div class="well">
<p class="testimonial_heading">Pranjal Patil</p>
<p class="testimonial_subhead">Banglore Medical College</p>
<hr>
<p class="testimonial_text"> Infineety's learning programmes and the daily news analysis they put up was highly helpful in preparing for the current affairs section. It helps me grasp my concepts better and faster.</p>
</div><!-- end of well div-->
</div><!-- end of col-sm-4-->
</div><!-- end of row div-->


</div><!-- end of container-->
</div><!-- end of testimonial-->

{% endblock %}



